body {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    margin: 0;

}

 

.container {

    border: 1px solid #ccc;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

 

.input-group {

    margin-bottom: 10px;

}

 

.input-group input {

    display:block;

    margin:auto;

    margin-bottom: 10px;

}

 

.button-group button {

    margin-right: 10px;

    margin-top: 10px;

}

#result{

    text-align: center;

    margin-top:10px;

    color:green;

}

h1{

    text-align: center;

}